.z{
    background-color: rgb(12, 137, 255);
    color: azure;
    text-align: center;
    padding: 40px;
    display: block;
    border-radius: 25px;
    border: solid blue;
}
.z:active{
    height: 500px;
    width: 500px;
background-image: url(./img/Изображение\ WhatsApp\ 2024-12-09\ в\ 19.32.24_2bd93038.jpg);
background-size: 460px;
  display: block;
  visibility: visible;
}
